<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:p="http://www.springframework.org/schema/p"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="ContracEmployee" class="spring3controller.ContracEmployee"></bean>
<!--<bean id="emp" class="spring3controller.EmployeeController">
<property name="contracemployee" ref="con"></property>
</bean>-->
</beans>